<nav class="navbar navbar-expand-lg navbar-light bg-white">
<div class="container">
    <div>
      <div id="logoLogin">
        <div class="row">
          <div class="p-5">
            <div>
              <div id="sf3"></div>
            </div>
            <div id="sf1" class="offset-2">
              <div>
                <div id="sf2"></div>
              </div>
            </div>
            <div>
              <div id="sf4"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="navbar-brand ml-5" id="core">Core</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Logout</a>
        </li>
      </ul>
    </div>
</div>
</nav>
