#logoLogin{
  background: #263247;
  width: 89px;
  height: 90px;
  border-radius: 3cm;
}
#sf1{
    width: 79px;
    height: 78px;
    border: 8px solid #59FABF;
    border-radius: 50%;
    border-left-style: inset;
    border-left-color: #fff0;
    transform: rotate(-11deg);
    margin-top: -42px;
    margin-left: -29px;
}
#sf2{
    width: 43px;
    height: 43px;
    border: 5px solid #59FABF;
    border-radius: 68%;
    margin-top: 11px;
    margin-left: 11px;
}
#sf3{
    position: absolute;
    background: #59FABF;
    transform: rotate(-16.89deg);
    margin-top: 2px;
    width: 41px;
    height: 9px;
    margin-left: -48px;
}
#sf4{
    position: absolute;
    background: #59FABF;
    transform: rotate(-16.89deg);
    margin-top: -60px;
    width: 41px;
    height: 9px;
    margin-left: 40px;
}
#core{
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 7px;
    text-align: center;
    color: #263247;
    margin-top: -9px;
}